body {

}
.profile-image {
    width: 160px;
    height: 160px;
	padding-top:10px;
	cursor: pointer;
}
.contact-info {
   
}
.cv-button {
	padding-top: 10px;

}
.btn-group-lg>.btn, .btn-lg {
	border-radius: 2px !important;
}

/*For menu*/
